
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pic {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  filter: grayscale(100%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  text-align: center;
}

.placemat {
  position: relative;
  background-color: lightgray;
  width: 90vw;
  height: 90vh;
  z-index: 1;
  opacity: .7;
  border-radius: 20px;
  padding: 50px;
}
button {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #5b7cb0;
}

p {
  margin-block-start: 3px;
  margin-block-end: 3px;
}
