
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pic {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  text-align: center;
}

.placemat {
  position: relative;
  background-color: lightgray;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  opacity: .9;
  border-radius: 5px;
}
