html,
body {
  align-items: flex-start;
}

.header {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background-color: #414a59;
  padding: 20px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.thumb {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px black;
  margin: 8px;
}
.profpic {
  width: 15vw;
}
.meowmeows {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
.match {
  box-shadow: 5px 5px orange;
}
