html,
body {
  width: 100vw;
  background-color: gray;
}
.profile {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  width: 100vw;
}

#pic {
  height: 100vh;
  padding-left: 3vw;
  padding-right: 3vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

#logo {
  width: 12vw;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5vw;
}

#matches {
  width: 7vw;
}

button {
  width: 9vw;
}
